.main {
  display: grid;
  grid-gap: 2vw;
  justify-items: center;
}

.main :hover {
  transform: translateY(-12px);
  box-shadow: rgba(47, 50, 53, 0.932) 0px 0px 12px;
}

@media (min-width: 1000px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
